  <div id="template_snac_job_failure_title"><!--
    <%= I18n.t("actions.snac.job.failure.title") %>
  --></div>

  <div id="template_snac_job_success_title"><!--
    <%= I18n.t("actions.snac.job.success.title") %>
  --></div>

  <div id="template_snac_job_success_message"><!--
    <div class="alert alert-success">
    <%= I18n.t("actions.snac.job.success.message") %></div>
  --></div>
