  <div id="template_snac_export_failure_title"><!--
    <%= I18n.t("actions.snac_export_failure_title") %>
  --></div>

  <div id="template_snac_export_success_title"><!--
    <%= I18n.t("actions.snac_export_success_title") %>
  --></div>

  <div id="template_snac_export_success_message"><!--
    <div class="alert alert-success">
    <%= I18n.t("actions.snac_export_success_message") %></div>
  --></div>
