<div class="form-group">
  <label class="col-sm-3 control-label"><%= I18n.t("snac_export_job.agent_id")  %></label>
  <div class="col-sm-9 controls label-only"><%= job['agent_id'] %></div>

  <label class="col-sm-3 control-label"><%= I18n.t("snac_export_job.agent_type")  %></label>
  <div class="col-sm-9 controls label-only"><%= job['agent_type'] %></div>

</div>
