/*
 * modified by SNAC
 */
.snac-result .alert button {
  position: relative;
  top: -7px;
}

.snac-result .alert-success {
  position: relative;
  /*top: -16px;*/
}

.snac-show {
  height: 200px;
  overflow: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #ccc; // fallback for IE7-8
  border: 1px solid rgba(0,0,0,.15);
}

.snac-show pre {
  background-color: #fff;
  border: none;
}

.snac-details-header {
  margin: 10px;
}

.snac-details-body {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ccc; // fallback for IE7-8
  border: 1px solid rgba(0,0,0,.15);
  background:url(/assets/archivesspace/managed_container_loading.gif) top 20px center no-repeat;
}

.snac-details-body iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.record-pane {
  min-height: 120px;
}

.form-search,
.selected-container {
  border: 1px solid #DDD;
  border-radius: 5px;
  background-color: #F1F1F1;
  padding: 10px;
}

#import-selected {
  width: 100%;
}

#selected {
  margin: 10px 0 20px;
  max-height: 200px;
  overflow: auto;
}

.snac-selected {
  margin: 5px 0;
  border-bottom: 1px solid #Fafafa;
  padding: 5px 0;
}
